.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

div#header-center {
    margin: 0 auto;
    width: 1080px;
}

div#header-search > h1 {
    width: 440px;
    height: 110px;
    display: inline-block;
    background-image: url(./images/sp_main_1f05c0.png);
    background-position: left -312px;
}


#header-search fieldset {
    width: 520px;
    display: inline-block;
}