.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

div#header-center {
    margin: 0 auto;
    width: 1080px;
}

div#header-search  h1 {
    width: 415px;
    height: 160px;
    display: inline-block;
    background-image: url(./images/훈맹정음_NM_모션_2X.gif);
}


#header-search fieldset {
    width: 520px;
    display: inline-block;
}